<%= link_to "Back", friends_path, class:"btn btn-secondary btn-sm" %>
<br/>
<br/>
<div style="max-width: 25rem; margin-left: auto; margin-right: auto;">
  <%= render @friend %>
  <br>
  <div style="display: flex">
    <div style="margin-right: 1rem"> <%= link_to "Update", edit_friend_path(@friend), class:"btn btn-warning" %> </div>
    <div><%= button_to "Delete", @friend, method: :delete, class:"btn btn-danger" %></div>
  </div>
</div>
