<%= link_to "BACK", friends_path, class:"btn btn-outline-secondary btn-sm" %>
<br/>
<br/>
<div style="max-width: 25rem; margin-left: auto; margin-right: auto;">
  <%= render @friend %>
  <br>
  <div style="display: flex; justify-content: space-between;">
    <% if @friend.user_id == current_user.id %>
      <div> <%= link_to "UPDATE", edit_friend_path(@friend), class:"btn btn-outline-warning", style: "width: 10rem;" %> </div>
      <div><%= button_to "DELETE", @friend, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger", style: "width: 10rem;" %></div>
    <% end %>
  </div>
</div>
